@import 'tailwindcss';

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

/*Añadir con Tailwind*/
body,
html,
h1,
p,
button,
input,
option {
  font-family: 'Geist', sans-serif;
}
